@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
body {
    padding: 0;
    margin: 0;
}



/* Menu header sectiopn */

.header {
    display: flex;
    align-items: center;
    background-color: #1CCACD;
    justify-content: space-between;
    height: 71px;
    color: RGB(255, 255, 255);
    font-weight: 300;
    font-family: "Lato";
}

.sitename a {
    color: white;
    text-decoration: none;
}

.sitename {
    margin-left: 15%;
    font-style: italic;
    font-size: 24px;
}

.menue ul {
    /* border: solid 2px black; */
    display: flex;
    align-items: center;
    width: 400px;
    height: 40px;
    margin-right: 200px;
    justify-content: space-evenly;
    list-style-type: none;
    position: relative;
}

.menue li a {
    opacity: 0.8;
    font-size: 18px;
    text-decoration: none;
    font-weight: 400;
    color: white;
}

.menue li img {
    border-radius: 50%;
    background-color: rgb(235, 74, 74);
    border: solid 2px white;
    height: 5px;
    padding: 4px;
    position: absolute;
    top: 0;
}

.menue li a.active {
    opacity: 1;
}

/* .menue li a:focus,
.menue li a:active {
    opacity: 1;
} */



/* Demos div */

.demodiv{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #f5f3f3;
    font-size: 30px;
    padding: 0;
}

.demodiv h3{
    /* border: solid 2px red; */
    margin-left: 15%;
    color:#0e0a0a;
    font-family: "lato";
    font-size: 40px;
    font-weight: 300;

}

/* Besic Demo */

.basicdemo{
    /* border: solid 2px blue; */
    margin-top: 50px;
}


.bd{
    /* border: solid 2px red; */
    width: 60%;
    margin-left: 15%;
    font-size: 25px;
    font-weight: 300;
    font-family: "Lato", "Helvetica Neue", "Helvetica", "Helvetica", "Arial", "sans-serif";
}

.boxcont{
    /* border: solid 2px violet; */
display: flex;
width: 60%;
margin-left: 15%;
flex-wrap: wrap;
}

.box{
    width: 160px;
    height: 60px;
    margin: 10px;
    padding: 20px;
    background-color: #ced7d8;
    font-size: 18px;
    font-family: "Lato", "Helvetica Neue", "Helvetica", "Helvetica", "Arial", "sans-serif";
    
}

.box:hover{
    transition: all ease-in-out 200ms;
    background-color: #1CCACD;
    color: #f7f7f7;
    cursor: pointer;
}


/* Footer  */


.tweet {
    /* border: solid 2px orange; */
    display: flex;
    width: 100%;
    height: 100px;
    margin-top: 60px;
    background-color: aliceblue;
    justify-content: center;
    font-family: "lato";
    align-items: center;
}

.tweet a {
    color: #1CCACD;
    text-decoration: none;
    font-weight: 400;
    margin-right: 10px;
}