@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
body {
    padding: 0;
    margin: 0;
}


/* Menu header sectiopn */

.header {
    display: flex;
    align-items: center;
    background-color: #1CCACD;
    justify-content: space-between;
    height: 71px;
    color: RGB(255, 255, 255);
    font-weight: 300;
    font-family: "Lato";
}

.sitename a {
    color: white;
    text-decoration: none;
}

.sitename {
    margin-left: 15%;
    font-style: italic;
    font-size: 24px;
}

.menue ul {
    /* border: solid 2px black; */
    display: flex;
    align-items: center;
    width: 400px;
    height: 40px;
    margin-right: 200px;
    justify-content: space-evenly;
    list-style-type: none;
    position: relative;
}

.menue li a {
    opacity: 0.8;
    font-size: 18px;
    text-decoration: none;
    font-weight: 400;
    color: white;
}

.menue li img {
    border-radius: 50%;
    background-color: rgb(235, 74, 74);
    border: solid 2px white;
    height: 5px;
    padding: 4px;
    position: absolute;
    top: 0;
}

.menue li a.active {
    opacity: 1;
}

/* .menue li a:focus,
.menue li a:active {
    opacity: 1;
} */


/* home div and logo and text section */

.home_div {
    /* border: solid 2px red; */
}

.intro {
    /* border: solid 2px blue; */
    display: flex;
    height: 456px;
    justify-content: space-between;
    background-color: #1CCACD;
    color: #FFF;
}

.tb {
    /* border: solid 2px yellow; */
    width: 50%;
    margin-left: 15%;
}

.tb>p {
    font-size: 20px;
    opacity: 0.8;
}

.texthead {
    width: 100%;
}

.texthead h4 {
    font-size: 70px;
    font-weight: 300;
    font-family: "Lato";
    margin: 80px 0 20px 0;
}

.texthead p {
    font-size: 25px;
    font-weight: 300;
    font-family: "Lato", "Helvetica Neue", "Helvetica", "Helvetica", "Arial", "sans-serif";
    /* text-wrap: wrap */
}

.button button {
    padding: 20px 40px;
    font-size: 20px;
    font-weight: 400;
    border-radius: 2px;
}

.button .down {
    color: #1ccacd;
    background-color: #FFF;
    border: 0;
}

.button .down:hover {
transition: all 300ms ease-in-out;
background-color: #ff3f4d;
color: #FFF;
}


.git {
    border: 2px solid white;
    color: #FFF;
    background-color: rgba(255, 255, 255, 0);
    margin-left: 10px;
}

.logo {
    /* border: solid 2px purple; */
    margin-right: 20%;
}

.logo img {
    margin-top: 40%;
    height: 180px;
}


/* demo div and slider section */

.demo_div {
    /* border: solid 2px orange; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.demo_div h3 {
    font-size: 30px;
    color: rgba(84, 74, 74, 0.871);
    font-family: "lato";
    font-weight: 400;
    margin: 70px 0 50px 0;
    opacity: 0.8;
}

.bcontainer {
    display: flex;
}

.box {
    width: 340px;
    height: 220px;
    background-color: #ff3f4d;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-family: "Lato", "Helvetica Neue", "Helvetica", "Helvetica", "Arial", " sans-serif";
    font-weight: 300;
    font-style: italic;
    color: #FFF;
}


/* product Row and info section */

.row_con {
    display: flex;
    flex-direction: column;
    /* border: solid 3px red; */
    /* justify-content: center; */
    align-items: center;
    /* justify-content: space-evenly; */
}

.row {
    margin: 20px;
    /* border: solid 3px blue; */
    width: 60%;
    height: 10%;
    justify-content: stretch;
    display: flex;
    /* flex-direction: row; */
}

.img {
    /* border: solid 2px rgb(0, 255, 110); */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
}

.text {
    display: flex;
    flex-direction: column;
    width: 65%;
    /* height: 50%; */
    /* justify-content: start; */
    /* border: solid 5px purple; */
}

.text p {
    /* border: solid 2px rgb(22, 10, 107); */
    font-size: 15px;
    font-family: "Lato", "Helvetica Neue", "Helvetica", "Helvetica", "Arial", "sans-serif";
    font-weight: 400;
    color: #555555;
    width: 70%;
    word-spacing: 2px;
    
}

.text h3 {
    /* border: solid 2px rgb(22, 10, 107); */
    font-family: "Lato", "Helvetica Neue", "Helvetica", "Helvetica", "Arial", "sans-serif";
    font-weight: 300;
    color: rgba(18, 17, 17, 0.905);
    font-size: 40px;
    margin: 30px 0 0;
}


/* Footer  */

.footer {
    /* border: solid 2px red; */
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Lato", "Helvetica Neue", "Helvetica", "Helvetica", "Arial", "sans-serif";
}

.footer {
    align-items: center;
    margin-top: 70px;
}

.txtfooter {
    /* border: solid 2px blue; */
    margin-top: 70px;
    width: 60%;
    text-align: center;
}

.main {
    font-size: 25px;
    font-weight: 300;
    display: flex;
    margin-bottom: 80px;
    color: #1CCACD;
}

.secm {
    font-size: 15px;
    color: #555555;
    font-weight: 400;
}

.tweet {
    /* border: solid 2px orange; */
    display: flex;
    width: 100%;
    height: 100px;
    margin-top: 60px;
    background-color: aliceblue;
    justify-content: center;
    align-items: center;
}

.tweet a {
    color: #1CCACD;
    text-decoration: none;
    font-weight: 400;
    margin-right: 10px;
}